<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="cybertruck_robot">

    <xacro:macro name="sensor_bar" params="suffix x y z r p yw i_x i_y i_z ixx ixy ixz iyy iyz izz j_x j_y j_z j_r j_p j_yw">
        <link name="sensorbar_${suffix}">
            <visual>
                <origin xyz="${x} ${y} ${z}" rpy="${r} ${p} ${yw}" />
                <geometry>
                    <mesh filename="package://cybertruck_description/meshes/sensor/sensorbar.stl"/>
                </geometry>
                <material name="sensorbar_material">
                    <color rgba="0 0 0 1.0"/>
                </material>
            </visual>

            <collision>
                <origin xyz="${x} ${y} ${z}" rpy="${r} ${p} ${yw}" />
                <geometry>
                    <mesh filename="package://cybertruck_description/meshes/sensor/sensorbar.stl"/>
                </geometry>
            </collision>

            <inertial>
                <origin xyz="${i_x} ${i_y} ${i_z}" rpy="0 0 0"/>
                <mass value="0.0066396964508632343865" />
                <inertia ixx="${ixx}" ixy="${ixy}"  ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}" />
            </inertial>
        </link>

        <joint name="sensor_${suffix}" type="fixed">
            <origin xyz="${j_x} ${j_y} ${j_z}" rpy="${j_r} ${j_p} ${j_yw}" />
            <parent link="carbody"/>
            <child link="sensorbar_${suffix}"/>
            <axis xyz="0 0 1"/>
            <limit effort="1" velocity="20" />
            <joint_properties friction="0.0"/>
        </joint>

    </xacro:macro>

</robot>
